body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

* {
	font-size: 13px;
}

a {
	color: #0A0A0A;
	text-decoration: none;
}

body {
	background-color: #F5FAFE;
}

td {
	background-color: #F5FAFE;
}

.qx_list span {
	width: 100%;
	height: 100%;
	margin-top: 6px;
	margin-left: 10px;
	cursor: pointer;
}