.div_page {
	align: center;
	width: 100%;
	height: 22px;
}

.table_page {
	align: center;
	width: 100%;
	background-color: #E5E5E5;
}

.tr_page td {
	font-size: 13px;
	text-align: center;
	text-align: center;
}

.tr_page a:HOVER {
	color: #ff0000;
}

.tr_page a {
	text-decoration: none;
	color: #006699;
}

.td_span span {
	color: #ff0000;
	font-weight: bold;
}