body {
	background-color: #FFFFFF;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

td {
	color: #000000
}

th {
	color: #000000
}

a {
	color: #0A0A0A;
}

* {
	font-size: 13px;
}

span.has-error {
	color: Red;
	font-size: 12px;
	margin: 30px 0px;
	padding-left: 5px;
}